#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0%;
}

li {
  display: inline-block;
  margin: 0 10px;
  text-align: center;}

.article-img{
  width: 450px;
}

.grid-item {
  width: 30em;
  height: 30em;
  object-fit: cover;
}


/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */



